<button type="button" (click)="setHabilitar()" class="btn btn-primary my-3">
  {{ habilitar == true ? 'Ocultar' : 'Mostrar' }}
</button>

<div class="card">
  <div class="card-head">
    <h3>LISTADO DE CURSOS</h3>
  </div>
  
  <ul class="list-group" *ngIf="habilitar == true">
    
    <li class="list-group-item"><h5>TypeScript</h5></li>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let temas of listatemasTS">{{temas}}</li>
    </ul>
    
    <li class="list-group-item"><h5>JavaScript</h5></li>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let temas of listatemasJS">{{temas}}</li>
    </ul>
    
    <li class="list-group-item"><h5>C#</h5></li>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let temas of listatemasC">{{temas}}</li>
    </ul>
    
  </ul>
</div>